<div class="ui stackable {{unless this.noSocial 'two' 'one'}} column doubling centered grid mt-4">
  <div class="flash-messages ui container">
    {{#each flashMessages.queue as |flash|}}
        <div class="ui {{flash.type}} message">
         <div>
           <FlashMessage @flash = {{flash}}/>
          </div>
        </div>
    {{/each}}
  </div>
  <div class="column">
    <form class="ui large form" autocomplete="off" style="cursor: default;">
      <div class="ui aligned segment basic no margin no padding">
        <h2 class="weight-300 text centered">{{t 'Login'}}</h2>
      </div>
      <div class="ui segments">
        <div class="ui segment {{if this.isLoading 'loading' ''}}" style="padding: 30px;">
          {{#if this.errorMessage}}
            <div class="ui negative message">
              <p>{{this.errorMessage}}</p>
            </div>
          {{/if}}
          {{#if this.newUser}}
            <div class="ui info message">
              <p>{{t 'You have been registered successfully. Please login to continue.'}}</p>
            </div>
          {{/if}}
          <div class="field">
            <label for="email">{{t 'Email Address'}}</label>
            <div class="ui left icon input">
              <i class="mail icon"></i>
              <Input @name="email" @id="email" @value={{this.identification}} />
            </div>
          </div>
          <div class="field">
            <label for="password">{{t 'Password'}}</label>
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <Input class="rounded-r-none" @type="{{if this.showPass 'text' 'password'}}" @name="password" @id="password" @value={{this.password}} />
              <div class="ui small basic icon buttons rounded-l-none">
                <button type="button" class="ui button" {{action 'showPassword'}}>
                  <i class="{{if this.showPass 'hide' 'unhide'}} basic icon"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="ui center aligned segment basic" style="padding: 10px 0px 0px 0px">
            {{#if (and (gt this.counter 1) this.showHcaptcha)}}
              <HCaptcha @onSuccess={{action (mut this.captchaValidated)}} @onExpired={{action (mut this.captchaValidated)}}/>
            {{/if}}
            <div class="ui vertical buttons" style="width: 100%;">
              <button type="submit" class="ui fluid teal submit button register {{if (and (and (gt this.counter 1) (not this.captchaValidated)) this.showHcaptcha) 'disabled'}}"
              style="border-radius: 5px;">
                {{t 'Login'}}
              </button>
              <div class="ui center aligned segment basic" style="padding: 10px 0px 0px 0px">
                <a href="{{href-to 'reset-password'}}" class="hyperlink"> {{t 'Forgot your password?'}}</a>
              </div>
              {{!--
              {{#unless noSocial}}
                <div class="ui horizontal divider">
                  Or
                </div>
                <button type="button" class="ui facebook button" {{action 'auth' 'facebook'}}>
                  <i class="facebook icon"></i>
                  {{t 'Login with Facebook'}}
                </button>
              {{/unless}}
              --}}
            </div>
          </div>
        </div>
      </div>
      <div class="ui segments">
        <p class="ui segment center aligned text  weight-500">New to site?
          <span>
            <a class="hyperlink" href="{{href-to 'register'}}" >
              {{t ' Create Account'}}
            </a>
          </span>
        </p>
      </div>
    </form>
  </div>
</div>
