<div class="ui stackable two column doubling centered grid mt-4">
  <div class="column">
    <form class="ui large form" autocomplete="off" {{action 'submit' on='submit'}} style="cursor: default;">
      <div class="ui aligned segment basic no margin no padding">
        <h2 class="weight-300 text centered">{{t 'Forgot Password'}}</h2>
      </div>
      <div class="ui segments">
        <div class="ui segment {{if this.isLoading 'loading' ''}}" style="padding: 30px;">
          {{#if this.errorMessage}}
            <div class="ui negative message">
              <p>{{this.errorMessage}}</p>
            </div>
          {{/if}}
          {{#if this.successMessage}}
            <div class="ui info message">
              <p>{{this.successMessage}}</p>
            </div>
          {{/if}}
            {{#if this.token}}
              <div class="field">
                <label for="password">{{t 'Password'}}</label>
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <Input class="rounded-r-none" @type={{if this.showNewPass "text" "password"}} @name="password" @id="password" @value={{this.password}} />
                  <div class="ui small basic icon buttons rounded-l-none">
                    <button class="ui button" id="eye2" {{ action 'showNewPassword'}}>
                      <i class="{{if this.showNewPass 'hide' 'unhide'}} basic icon"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="field">
                <label for="password_repeat">{{t 'Confirm Password'}}</label>
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <Input class="rounded-r-none" @type={{if this.showConfirmPass "text" "password"}} @name="password_repeat" @id="password_repeat" />
                  <div class="ui small basic icon buttons rounded-l-none">
                    <button class="ui button" id="eye2" {{ action 'showConfirmPassword'}}>
                      <i class="{{if this.showConfirmPass 'hide' 'unhide'}} basic icon"></i>
                    </button>
                  </div>
                </div>
              </div>
            {{else}}
              <div class="field">
                <label for="email">{{t 'Email Address'}}</label>
                <div class="ui left icon input">
                  <i class="mail icon"></i>
                  <Input @name="email" @id="email" @value={{this.identification}} />
                </div>
              </div>
            {{/if}}
          <div class="ui center aligned segment basic" style="padding: 10px 0px 0px 0px">
            {{#if this.showHcaptcha}}
              <HCaptcha @onSuccess={{action (mut this.captcha)}} @onExpired={{action (mut this.captcha)}} @onRender={{action (mut this.captchaRendered)}} />
            {{/if}}
            <div class="ui vertical buttons" style="width: 100%;">
              <button type="submit" class="ui fluid teal submit button reset-password {{if (and (not this.captcha) this.showHcaptcha this.captchaRendered) 'disabled'}}"
                style="border-radius: 5px">
                {{t 'Reset Password'}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="ui segments">
        <p class="ui segment center aligned text  weight-500">New to site?
          <span>
            <a class="hyperlink" href="{{href-to 'register'}}" >
              {{t ' Create Account'}}
            </a>
          </span>
        </p>
      </div>
    </form>
  </div>
</div>
