<form class="ui form {{if this.isLoading 'loading'}}" autocomplete="off" {{action 'move' 'forwards' on='submit' preventDefault=true}} style="cursor: default">
  <div class="my-card">
    <h3 class="ui dividing header weight-300">
      {{t 'Information About Attendee Form'}}
    </h3>
    <div class="ui muted aligned text" style="text-align: justify;">
      {{t 'The attendee form by default collects the name and email of an attendee. You also have the option to collect additional information such as contact data, position, organization and more. This information will be available together with the ticket information in a CSV file in the ticket section of your event.'}}
    </div>
  </div>

  <div class="my-card">
    <h3 class="ui dividing header weight-300">
        {{t 'Required Form Fields'}}
    </h3>
    <div class="ui two column stackable grid">
      <div class="w-full column">
        <Forms::Wizard::CustomForms::Table
          @fields={{this.fixedFields}} />
      </div>
    </div>
  </div>
  
  <div class="my-card">
    <h3 class="ui dividing header weight-300" style="background-color: #ffffff; display: flex; justify-content: space-between;">
        {{t 'Optional Form Fields'}}
        <button type="button" style="background-color: #ffffff; border: none" {{action "toggleColapse"}}>
          <i class="dropdown icon collapsible" style="background-color: #ffffff;"></i>
        </button>
    </h3>
    <div class="collapsible-content {{this.collapseContent}}" style="padding-left: 0px; padding-right: 0px; overflow: visible">
      <div class="ui two column stackable grid" style="padding-bottom: 0px;">
        <div class="w-full column">
          <Forms::Wizard::CustomForms::Table
            @fields={{this.editableFields}}
            @removeField={{action "removeField"}}
            @updateField={{action (mut this.field)}} 
          />
        </div>
      </div>
      <div class="ui two column stackable grid" style="margin-top: 0px;">
        <div class="w-full column" style="padding-top: 0px;">
            <Forms::Wizard::CustomFormInput
              @customForms={{this.data.customForms}}
              @event={{this.data.event}}
              @form="attendee"
              @field={{this.field}}
              @onSave={{action (mut this.field) null}} />
        </div>  
      </div>
    </div>
  </div>
  <div class="spacer-50"></div>
</form>

<Forms::Wizard::WizardFooter
    @event={{this.data.event}}
    @loading={{this.loading}}
    @device={{this.device}}
    @onSaved={{action 'saveForm'}}
    @onSaveDraft={{action 'saveDraft'}}
    @move={{action 'move'}} />