<div class="content">
  <div class="header">{{t 'Event Checklist'}}</div>
</div>
<div class="content">

  <div class="ui grid stackable">
    <div class="row">

      <div class="column {{if this.device.isMobile '' 'three wide'}} center aligned text">
        <a href="{{href-to 'events.view.edit.basic-details'}}"
          class="ui segment {{unless this.data.event.name 'secondary'}} grid no margin">
          <div class="sixteen wide column">
            <i class="{{if this.data.event.name 'checkmark green' 'warning black'}} big icon"></i>
          </div>
          <div>
            <h4 class="ui header">
              {{t 'Basic Details'}} </h4>
          </div>
          <div>
            <div class="sub header">
              {{t 'Basic information including title, date, venue, ticketing'}}
            </div>
          </div>
        </a>
      </div>

      <div class="column {{if this.device.isMobile '' 'three wide'}} center aligned text">
        <a href="{{href-to 'events.view.edit.other-details'}}"
          class="ui segment {{unless this.data.event.socialLinks 'secondary'}} grid no margin">
          <div class="sixteen wide column">
            <i class="{{if this.data.event.socialLinks 'checkmark green' 'warning black'}} big icon"></i>
          </div>
          <div>
            <h4 class="ui header">
              {{t 'Additional Information'}} </h4>
          </div>
          <div>
            <div class="sub header">
              {{t 'Links, social media, privacy, code of conduct'}}
            </div>
          </div>
        </a>
      </div>

      <div class="column {{if this.device.isMobile '' 'three wide'}} center aligned text">
        <a href="{{href-to 'events.view.edit.attendee'}}"
          class="ui segment {{unless this.data.event.isTicketFormEnabled 'secondary'}} grid no margin">
          <div class="sixteen wide column">
            <i class="{{if this.data.event.isTicketFormEnabled 'checkmark green' 'warning black'}} big icon"></i>
          </div>
          <div>
            <h4 class="ui header">
              {{t 'Attendee Form'}} </h4>
          </div>
          <div>
            <div class="sub header">
              {{t 'Information to be collected from attendees'}}
            </div>
          </div>
        </a>
      </div>

      <div class="column {{if this.device.isMobile '' 'three wide'}} center aligned text">
        <a href="{{href-to 'events.view.edit.sponsors'}}"
          class="ui {{unless this.data.event.isSponsorsEnabled 'secondary'}} segment grid no margin">
          <div class="sixteen wide column">
            <i class="{{if this.data.event.isSponsorsEnabled 'checkmark green' 'warning black'}} big icon"></i>
          </div>
          <div>
            <h4 class="ui header">
              {{t 'Sponsors'}} </h4>
          </div>
          <div>
            <div class="sub header">
              {{t 'Details and logos of sponsors'}}
            </div>
          </div>
        </a>
      </div>

      <div class="column {{if this.device.isMobile '' 'three wide'}} center aligned text">
        <a href="{{href-to 'events.view.edit.sessions-speakers'}}"
          class="ui {{unless this.data.event.isSessionsSpeakersEnabled 'secondary'}} segment grid no margin">
          <div class="sixteen wide column">
            <i class="{{if this.data.event.isSessionsSpeakersEnabled 'checkmark green' 'warning black'}} big icon"></i>
          </div>
          <div class="row">
            <h4 class="ui header">
              {{t 'Session, Tracks & Microlocations'}} </h4>
            <div class="sub header">
              {{t 'Tracks details and colors, session lengths, room locations'}}
            </div>
          </div>
          <div class="row">
            <div>
              <i class="{{if this.data.event.speakersCall.announcement 'checkmark green' 'warning black'}} icon"></i>
              <h4 class="ui header">
                {{t 'Call For Speakers'}}</h4>
            </div>
            <div>
              <div class="sub header">
                {{t 'Call for speakers announcement and dates'}}
              </div>
            </div>
          </div>
        </a>
      </div>


    </div>
  </div>

</div>