<div class="content">
  <div class="header">{{t 'Event Checklist'}}</div>
</div>
<div class="content">

  <div class="ui grid stackable">

    <div class="sixteen wide column">
      <TabbedNavigation @isVertical={{true}}>

        <a class="ember-view item" href="{{href-to 'events.view.edit.basic-details'}}">
          <div class="row">
            <span>
              <i class="{{if this.data.event.name 'checkmark green' 'warning black'}} icon"></i>
            </span>
            <span style="font-weight: bold;">
              {{t 'Basic Details'}} </span>

            <span class="sub header">
              <i class="right chevron small icon"></i>
              {{#if this.device.isMobile }}
              <div>{{t 'Basic information including title, date, venue, ticketing'}}</div>
              {{else }}
              {{t 'Basic information including title, date, venue, ticketing'}}
              {{/if}}
            </span>
          </div>
        </a>

        <a class="ember-view item" href="{{href-to 'events.view.edit.other-details'}}">
          <div class="row">
            <span>
              <i class="{{if this.data.event.socialLinks 'checkmark green' 'warning black'}} icon"></i>
            </span>
            <span style="font-weight: bold;">
              {{t 'Additional Information'}} </span>

            <span class="sub header">
              <i class="right chevron small icon"></i>
              {{#if this.device.isMobile }}
              <div>{{t 'Links, social media, privacy, code of conduct'}}</div>
              {{else }}
              {{t 'Links, social media, privacy, code of conduct'}}
              {{/if}}
            </span>
          </div>
        </a>

        <a class="ember-view item" href="{{href-to 'events.view.edit.attendee'}}">
          <div class="row">
            <span>
              <i class="{{if this.data.event.isTicketFormEnabled 'checkmark green' 'warning black'}} icon"></i>
            </span>
            <span style="font-weight: bold;">
              {{t 'Attendee Form'}} </span>

            <span class="sub header">
              <i class="right chevron small icon"></i>
              {{#if this.device.isMobile }}
              <div>{{t 'Information to be collected from attendees'}}</div>
              {{else }}
              {{t 'Information to be collected from attendees'}}
              {{/if}}
            </span>
          </div>
        </a>

        <a class="ember-view item" href="{{href-to 'events.view.edit.sponsors'}}">
          <div class="row">
            <span>
              <i class="{{if this.data.event.isSponsorsEnabled 'checkmark green' 'warning black'}} icon"></i>
            </span>
            <span style="font-weight: bold;">
              {{t 'Sponsors'}} </span>

            <span class="sub header">
              <i class="right chevron small icon"></i>
              {{#if this.device.isMobile }}
              <div>{{t 'Details and logos of sponsors'}}</div>
              {{else }}
              {{t 'Details and logos of sponsors'}}
              {{/if}}
            </span>
          </div>
        </a>

        <a class="ember-view item" href="{{href-to 'events.view.edit.sessions-speakers'}}">
          <div class="row">
            <span>
              <i class="{{if this.data.event.isSessionsSpeakersEnabled 'checkmark green' 'warning black'}} icon"></i>
            </span>
            <span style="font-weight: bold;">
              {{t 'Sessions and Speakers'}} </span>

            <span class="sub header">
              <i class="right chevron small icon"></i>
              {{#if this.device.isMobile }}
              <div>{{t 'Session details, Speaker details, and Information collecting forms'}}</div>
              {{else}}
              {{t 'Session details, Speaker details, and Information collecting forms'}}
              {{/if}}
            </span>
          </div>

          <div class="row" style="margin-top: 1%;">
              <span>
                <i class="{{if this.data.event.speakersCall.announcement 'checkmark green' 'warning black'}} icon"></i>
              </span>
              <span style="font-weight: bold;">
                {{t 'Call For Speakers'}} </span>
              <span class="sub header">
                <i class="right chevron small icon"></i>
                {{#if this.device.isMobile }}
                <div>{{t 'Call for speakers announcement and dates'}}</div>
                {{else}}
                {{t 'Call for speakers announcement and dates'}}
                {{/if}}
              </span>
          </div>
        </a>

      </TabbedNavigation>
    </div>

  </div>

</div>