<div class="ui container">
  <div class="mb-8"></div>
  <h2 class="weight-400">{{t 'Editing Event'}} {{this.model.event.name}}</h2>
  <div class="ui one column centered stacked grid event wizard">
    <div class="column mobile hidden">
      <Widgets::StepsIndicator @steps={{this.model.steps}} @autoSteps={{true}} @enableAll={{true}} />
    </div>
    <div class="column">
      {{outlet}}
    </div>
  </div>
</div>
